@import url('./veriables.css');

body {
    padding-top: 0;
    padding-left: 17rem;
    font-family: var(--font-open);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-segundar);
    line-height: 1.5;
}

::-webkit-scrollbar {
    width: 6px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #999; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

@media screen and (max-width: 992px) {
    body {
        padding-left: 0rem;
    }
}

@media screen and (max-width: 320px) {
    section#about,
    section#experience,
    section#education,
    section#skills,
    section#interests,
    section#awards{
        padding: 1rem 1rem;
    }
}